.contacts__header {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
  background: rgb(98, 173, 193);
  background: linear-gradient(
    90deg,
    rgba(98, 173, 193, 1) 0%,
    rgba(33, 165, 142, 1) 100%
  );
}

.user {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.user:hover {
  background-color: #dad5d5;
}

.user__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 10px;
}

.user_avatar {
  display: block;
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
}

.listuser {
  background-color: #f0f0f0;
}
.contacts__search {
  margin: 0px 10px;
}
.contacts__search__field {
  margin: 0px 10px;
  width: 90%;
  border: none;
  height: 50px;
}

.selecteduser {
  background-color: #dad5d5;
}
